:root {
  --second: 1s;
  --minute: calc(var(--second) * 60);
  --hour: calc(var(--minute) * 60);
  --timeShiftHour: calc(var(--setTimeHour) * var(--hour));
  --timeShiftMinute: calc(var(--setTimeMinute) * var(--minute));
  --timeShiftSecond: calc(var(--setTimeSecond) * var(--second));
}

#clock {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto 0 auto;
  background: url('../images/clockface.jpg');
  list-style: none;
}

#hour,
#min,
#sec {
  position: absolute;
  width: 30px;
  height: 600px;
  top: 0px;
  left: 285px;
}

#hour {
  background: url('../images/hourhand.png');
  z-index: 1;
  -webkit-animation: rotate linear calc(var(--hour) * 12) infinite;
  animation: rotate linear calc(var(--hour) * 12) infinite;
  -webkit-animation-delay: calc(
    (var(--timeShiftHour) + var(--timeShiftMinute)) * -1
  );
  animation-delay: calc((var(--timeShiftHour) + var(--timeShiftMinute)) * -1);
}

#min {
  background: url('../images/minhand.png');
  z-index: 2;
  -webkit-animation: rotate linear var(--hour) infinite;
  animation: rotate linear var(--hour) infinite;
  -webkit-animation-delay: calc(var(--timeShiftMinute) * -1);
  animation-delay: calc(var(--timeShiftMinute) * -1);
}

#sec {
  background: url('../images/sechand.png');
  z-index: 3;
  -webkit-animation: rotate steps(60) var(--minute) infinite;
  animation: rotate steps(60) var(--minute) infinite;
  -webkit-animation-delay: calc(var(--timeShiftSecond) * -1);
  animation-delay: calc(var(--timeShiftSecond) * -1);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

/* The element to apply the animation to */
div.block {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  background-color: red;
  -webkit-animation-name: loop;
  animation-name: loop;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  --square: 50px;
}

/* The animation code */
@-webkit-keyframes loop {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  30% {
    background-color: orange;
    left: calc(100% - var(--square));
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: calc(100% - var(--square));
    top: calc(98vh - var(--square));
  }
  80% {
    background-color: yellowgreen;
    left: 0px;
    top: calc(98vh - var(--square));
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
@keyframes loop {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  30% {
    background-color: orange;
    left: calc(100% - var(--square));
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: calc(100% - var(--square));
    top: calc(98vh - var(--square));
  }
  80% {
    background-color: yellowgreen;
    left: 0px;
    top: calc(98vh - var(--square));
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
